/*position: relative;
    margin: 0 0 20px;
    padding: 15px;
    color: #555;
    background-color: #fff;
    box-shadow: 0 2px 2px #d5d5d5;*/
body{
    background: #f8f8f8;
}

.topbar {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #eee;
    background: #fff;
}

.topbar .user{
    float: left;
    position: relative;
    height: 60px;
}

.topbar .user .avatar{
    width: 60px;
    height: 60px;
    float: left;
}

.topbar .user .information {
    float: left;
}

.topbar .user .information .name {
    height: 20px;
}

.topbar .karma {
    height: 20px;
}

.topbar .menu {
    float: right;
}

.topbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.topbar .menu li{
    float: left;
}

.topbar .menu li a {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
}

.topbar .menu li a [class^="icon-"] {
    font-size: 24px;
    color: #ddd;
}

.sidebar{
    width: 200px;
    background: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #eee;
    background: #fff;
    padding-top: 60px;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li{
    border-bottom: 1px solid #eee;
}

.sidebar a{
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #eee;
}

.content {
    padding: 60px 0 0 200px;
}

.top-block{
    padding: 40px;
    background: #fff;
    border-bottom: 10px solid #eee;
}