* {
	box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

html {
    font-family: 'Open Sans', sans-serif;
    color: #636363;
}

textarea {
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #aeaeae;
    padding: 0 10px;
    color: #656565;
}

.input {
    padding: 0 0 30px 0;
}

.input label {
    display: block;
    color: #656565;
    padding: 0 0 5px 0;
    cursor: pointer;
}

.input input {
    display: block;
    width: 100%;
    height:  44px;
    border-radius: 3px;
    border: 1px solid #aeaeae;
    padding: 0 10px;
    color: #656565;
}

.button {
    color: #fff;
    height: 44px;
    background: #92c03d;
    border: 1px solid #739c26;
    border-bottom-width: 2px;
    border-radius: 3px;
    padding: 0 20px;
}

a{
    color: #92c03d;
    text-decoration: underline;
}

h1,h2,h3,h4 {
    margin: 0;
}

h4 {
    font-size: 16px;
    color: #a3a3a3;
    font-weight: 500;
    padding-bottom: 10px;
}

.label {
    padding: 3px 10px;
    background: #eee;
    color: #888;
    border-radius: 4px;
}

.label.green {
    background: #92c03d;
    color: #fff;
}

.label.orange {
    color: #fff;
    background: #ed4b22;
}